body {
  font-size: 8pt;
}
h1 span {
  font-size: smaller;
  color: #666;
}
tr td:first-child {
  font-weight: bold;
}
#ingredients {
  float: left;
  width: 100%;
  display: none;
  border-collapse: collapse;
}
#ingredients th {
  text-align: left;
  background: #efefef;
}
#ingredients td, 
#ingredients th {
  border-bottom: 1px solid #ccc;
}
#ingredients tr:hover td {
  background-color: aliceblue;
}
#conditions {
  float: left;
  width: 816px;
  padding: 0;
  margin-left: 2em;
  margin-top: 2em;
}
#conditions li,
#conditions ul {
  list-style: none;
  padding: 0;
}
#conditions > li {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 12px;
  background: #efefef;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  text-align: center;
}
#conditions > li:last-child {
  margin-right: 0;
}
.cell-id {
  position: absolute;
  right: 6px;
  bottom: 6px;
  font-weight: bold;
  color: #666;
}
.num-conditions {
  font-weight: bold;
  color: #dedede;
  font-size: 20pt;
}
.list {
  display: none;
}
#conditions > li:hover {
  height: 80px;
  width: 80px;
  left: -20px;
  top: -20px;
  margin-right: -34px;
  margin-bottom: -34px;
  z-index: 10000;
  cursor: pointer;
  -moz-box-shadow: 0 0 5px 5px #ccc;
  -webkit-box-shadow: 0 0 5px 5px #ccc;
  box-shadow: 0 0 5px 5px #ccc;
  border-radius: 20px;
  text-align: left;
}
#conditions > li:hover .list {
  display: block;
}
#conditions > li:hover .cell-id {
  right: 10px;
  bottom: 10px;
}
#conditions > li:hover .num-conditions {
  display: none;
}
#conditions.select-mode .well:not(.well-selected) {
  opacity: 0.3;
}
#details {
  height: 100px;
}
#details li {
  margin-left: 30px;
}
#wrapper {
  height: 500px;
  overflow: auto;
}